@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<br />
<br />

<form  asp-action="Create">
    <partial name="PartialView/CreateUpdateRolePartialView" model="Model" />
    
    <input type="submit" class="btn btn-primary" value="Create"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

