@model UserViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>
<br />
<br />
<div>
    <form asp-action="Update">
        <partial name="PartialView/UpdateUserPartialView" model="Model" />
         <br />
        
        <input type="submit" value="Edit" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
</div>

