
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p>Email has been sent, Please check your inbox</p>
	</div>
</div>

