@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<center>
	<div asp-validation-summary="All" class="alert alert-danger"></div>
</center>
<div class="main-agileinfo">
	<div class="agileits-top">
		
		<form asp-action="ResetPassword" method="post">
			
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<input type="submit" value="Reset">
		</form>
		
	</div>
</div>

